-/*Ann Charlotte videos on flex and grid LMS*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto:wght@400;500;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

#css-grid{
  display: grid;
  grid-template-areas: 
  "header header header"
  "section section section"
  "main main main"
  "footer footer footer";

  grid-template-columns: 1fr 3fr 1fr;
}

header{
  grid-area: header;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header-img{
  background-image: url(header.jpg);
  width: 100%;
}

#logo-pic{
  grid-area: header;
  width: 80px;
  height: auto;
  display: flex;
  justify-content: center;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  justify-content: center;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar-info{
  background-color: #fff;
  background-image: linear-gradient(to top, #1cefff 0%, #c0c0aa 100%);
  background-size: 100%;
  -webkit-background-clip: text; /*Youtube.com*/
  -moz-background-clip: text; /*Youtube.com*/
  -webkit-text-fill-color: transparent; /*Youtube.com*/
  -moz-text-fill-color: transparent; /*Youtube.com*/
  display: flex; 
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.navbar-menu{
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar-item{
  height: 8px;
}

.navbar-links{
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 5px;
  background: #c0c0aa;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1cefff, #c0c0aa); /*https://uigradients.com/#CocoaaIce*/
  background: linear-gradient(to right, #1cefff, #c0c0aa); /*https://uigradients.com/#CocoaaIce*/

  color: #fff;
  transition: all 0.3s ease;
}

.navbar-links:hover{
  color: #1cefff;
  transition: all 0.3s ease;
}

.intro{
  grid-area: section;
  text-align: center;
  background-color: #222121;
  padding-bottom: 2rem;
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  color: #fff;
}

section h1{
  text-align: center;
  padding-bottom: 1rem;
}

section p{
  text-align: center;
  width: auto;
}

.placeholder{
  width: 400px;
  display: flex;
  justify-content: center;
}

.main-flex{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

main{
  grid-area: main;
  width: 100%;
  margin: 1rem auto;
  background-color: #131313;
}

main article{
  background-color: #c01d1d;
  padding: 2rem;
  flex: 1;
}

main h3 {
  color: #131313;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

main p{
  color: #131313;
  margin-bottom: 1rem;
}

footer{
  grid-area: footer;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 6rem;
  background-color: rgb(80, 80, 80);
  color: #fff;
}
/*This to meke the website compatible with smaller devices*/
/*All "settings" are decided inside here*/
/*W3School.com*/
@media screen and (max-width: 960px){
  header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .navbar-menu{
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }
  .navbar-menu.active{
    background: #131313;
    top: 100%;
    width: 100vw;
    opacity: 1;
    height: 60vh;
    font-size: 1.6rem;
  }
  #navbar-info{
    padding-left: 25px;
  }
  .navbar-toggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }
  .navbar-item{
    width: 100%;
  }
  .navbar-links{
    text-align: center;
    width: 100%;
    display: table;
  }
  .navbar-btn{
    padding-bottom: 2rem;
  }
  .button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }
  #mobile-menu{
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
  .navbar-toggle .bar{
    display: block;
    cursor: pointer;
  }
  /*LMS*/
  /*This is to make the hamburger menu an "X"*/
  /*Removes child number 2 inside the id=mbile-menu*/
  #mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
  }
  /*Rotates child 1 in a 45 degree angel*/
  #mobile-menu.is-active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  /*Rotates child 3 the oposite 45 degree from child 1 to make the "X"*/
  #mobile-menu.is-active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
}