/*Normalize*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto:wght@400;500;700&display=swap');

/*Font familie Josefin Sans, hentet fra google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto:wght@400;500;700&display=swap');

/*Overflødighet blir skjult på x aksen*/
body, html{
  overflow-x: hidden;
}

/*På body elementet skal disse styling elementene bli tatt i bnruk*/
body{
  font-family: 'Josefin Sans', sans-serif;
  line-height: auto;
  background-color: var(--main-bg-color);
}

/*Genrell styling på elementer*/
h1{
  font-size: 3rem;
}

h2{
  font-size: 2.2rem;
  color: var(--text-color);
}

h3{
  font-size: 1.8rem;
  text-align: center;
  color: var(--text-color);
}

article{
  text-align: center;
}

p{
  font-size: 1.4rem;
  color: var(--text-color);
  line-height: 2.2rem;
}

nav{
  grid-area: nav;
  font-size: 1.2rem;
}

li{
  text-align: center;
  line-height: 2rem;
  font-size: 1.2rem;
}

/*Lager grid området*/
#grid-area{
  display: grid;
  grid-template-areas: 
  "nav nav nav"
  "header header header"
  "intro intro intro"
  "main main main"
  "footer footer footer";
  grid-template-columns: 1fr 3fr 1fr;
}

/*Header styling*/
header{
  grid-area: header;
  width: 100%;
  height: 100vh;
  background-image: var(--bakgrunn-top);
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Fjerner prikker/tall ved siden av liste-elementer*/
ul{
  list-style: none;
}
ol{
  list-style: none;
}

/*Logo styling*/
#logo{
  grid-area: nav;
  width: 80px;
  height: auto;
}

/*Styling av selve nav baren*/
.navbar{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 1rem;
  align-items: center;
}

/*Styling av nav bar*/
ul.navbar-links{
  display: flex;
  align-items: center;
}

/*Legger til hover effekt for navbar sine li elementer*/
.navbar ul li:hover{
  opacity: 0.5;
}

/*Styling av li elementene*/
.navbar-links li{
  margin-right: 3rem;
  padding-right: 2rem;
}

/*Selve menypunktenes styling*/
nav a{
  color: var(--primary-color);
  text-decoration: none;
  display: flex;
}

.fa-moon:before{
  margin-right: 1.8rem;
}

/*Styler selve teksten i header*/
.header-content{
  margin-bottom: 10rem;
  color: var(--primary-color);
  text-align: center;
}

/*Kontakt oss knappen blir stylet*/
.kontakt-oss{
  padding: 8px 15px;
  background-color: var(--secondary-color);
  border-radius: 30px;
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
}

/*Intro seksjonen blir stylet*/
#intro-section{
  grid-area: intro;
  width: 80%;
  margin: 80px auto;
}

/*Teksten til artikkel-seksjonen blir stylet*/
.intro-title{
  text-align: center;
  color: var(--third-color);
}

/*Styling av linjen under "Artikkler"
Source: https://www.w3schools.com/tags/tag_hr.asp*/
.line{
  width: 8rem;
  height: 0.4rem;
  background: var(--secondary-color);
  margin: 2px auto;
  border-radius: 10rem;
}

/*Bildet til linkene styling*/
.placeholder{
  border-radius: 2rem;
}
.placeholder-3{
  width: 20rem;
  border-radius: 2rem;
}

/*Main blir stylet*/
main{
  grid-area: main;
  width: 100%;
  margin: auto;
}

/*Radene blir til flex*/
.row{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  
}

/*Selve artikkelboksene blir stylet*/
.row .col{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.artikler .row{
  margin-top: 2rem;
}

/*Hoved artikkelen blir stylet*/
.main-artikel{
  width: 100%;
  height: 60vh;
  padding-left: 6rem;
  /*Fra unsplash, attribute er ikke nødvendig (https://unsplash.com/photos/vmTs5om50gg)*/
  background-image: var(--bakgrunn-main); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

/*Selve teksten i hoved artikkel blir stlyet*/
.artikel-tekst{
  width: 50%;
}

.artikel-tekst h2{
  margin-bottom: 1rem;
  color: var(--primary-color);
}

/*kontakt oss siden blir stylet*/
.kontaktoss-side{
  width: 100%;
  height: 20vh;
  /*Fra unsplash, attribute er ikke nødvendig (https://unsplash.com/photos/vmTs5om50gg)*/
  background-image: var(--bakgrunn-main); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.kontaktoss-tabell{
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-template-rows: repeat(3, 1fr);
  height: 16vh;
  letter-spacing: 0.2rem;
  color: var(--primary-color);
}

.kontaktoss-tabell h2{
  color: var(--primary-color);
}

.kontaktoss-info{
  display: flex;
  text-align: center;
  margin-bottom: 4rem;
}

/*bildene i artikkelkortene blir stylet*/
.placeholder{
  width: 300px;
}

/*Seksjonen blir stylet*/
.main-flex{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*Artikklene blir stylet*/
main article{
  padding: 2rem;
  flex: 1;
}

/*Footer styling*/
footer{
  grid-area: footer;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 6rem;
  background-color: var(--footer-color);
}

footer a{
  color: var(--icon-color);
  font-size: 1.4rem;
  margin: 0.2rem;
}

footer h3{
  color: var(--icon-color);
  font-size: 1.6rem;
  font-weight: normal;
}

/*Bilde animasjoner*/
.placeholder{
  transition: transform .3s ease;
}

.placeholder:hover{
  transform: scale(1.05);
  cursor: pointer;
}

.placeholder-3{
  transition: transform .3s ease;
}

.placeholder-3:hover{
  transform: scale(1.05);
  cursor: pointer;
}

/*Knappe animasjoner*/
.kontakt-oss:hover{
  opacity: 0.6;
}

/*Meny animasjoner*/
.nav-item:hover{
  color: var(--secondary-color);
}

/*Animasjon for "smooth-in & smooth-out"*/
.artikler{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.artikler p{
  max-width: 60%;
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/*Animasjon for hoved informasjon*/
.anim{
  animation: slideleft 1s linear;
}

@keyframes slideleft{
  0%{
    transform: translate(100px);
    opacity: 0;
  }
  1000%{
    transform: translate(0px);
    opacity: 1;
  }
}

.hamburger{
  display: none;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--primary-color);
}

/*Intro teksten som står øverst*/
.introtekst{
  line-height: 2rem;
  max-width: 70%;
  color: var(--primary-color);
}

/*Selve artikkelen sin styling*/
.container {
  width: 400px;
  background: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Swiper boksen blir laget*/
.swiper{
  width: 80%;
  height: fit-content;
}

.swiper-slide img{
  width: 300px;
}

/*Styling på artikkel tekstene*/
.artikkel-tekst{
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  line-height: 2.2rem;
}

.liste{
  color: var(--text-color);
}
/*Litteraturlisten blir stylet*/
.lit-liste{
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  line-height: 3rem;
  color: var(--text-color);
}

.lit-liste li{
  line-height: 3rem;
}

/*Styling på "skrevet av Markus Vullum"*/
.skrevet-av{
  color: var(--primary-color);
  font-size: 1.2rem;
  opacity: 0.7;
}
/*UU vs SEO tabell*/
.uu-seo-tabell{
  display: grid;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  margin-top: 5rem;
  margin-bottom: 5rem;
  height: 100%;
  color: var(--text-color);
}

/*CMS tabell*/
.cms-tabell{
  display: grid;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-top: 5rem;
  margin-bottom: 5rem;
  height: 100%;
  color: var(--text-color);
}

/*Analyse tabell*/
.analyse-tabell{
  display: grid;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  margin-top: 5rem;
  margin-bottom: 5rem;
  height: 100%;
  color: var(--text-color);
}

.analyse-img{
  width: 20rem;
  border-radius: 1rem;
}

/*Tabell styling generelt*/
.tabell-topp{
  background-color: #a5a5a5;
}

.tabell-styling{
  display: flex;
  text-align: center;
  align-items: center;
  padding: 1rem 1rem;
  font-size: 1.4rem;
  line-height: 1.6rem;
  border: 2px solid var(--text-color);
}

.zebra{
  background-color: #a5a5a5;
}

.kontakt{
  max-width: 1080px;
  margin: auto;
  margin-top: 4rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  background: var(--kontakt-color);
  border-radius: 0.5rem;
}

.kontakt h2{
  color: var(--icon-color);
}

.kontak-boks{
  margin: 2rem;
}

.kontak-boks h2{
  font-weight: 600;
  margin-bottom: 1rem;
}

.kontakt-skjema{
  display: grid;
  row-gap: 1rem;
}

/*Kontaktskjema*/
.kontakt-skjema input, textarea{
  width: 100%;
  border: none;
  outline: none;
  background: var(--icon-color);
  padding: 1rem;
  font-size: 1rem;
  color: var(--text-color);
  border-radius: 0.4rem;
}

.kontakt-skjema button{
  align-items: center;
}

/*Text bokesen kan ikke endre størrelse*/
.kontakt-skjema textarea{
  resize: none;
  height: 200px;
}

/*Kartet blir justert*/
.map iframe{
  width: 100%;
  height: 50vh;
}

/*Share knappen blir stylet*/
.share{
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 4rem;
  margin-bottom: 4rem;

}

/*Delingsknappen for sosiale medier blir laget med ikoner*/
.share-button{
  width: 10rem;
  height: 3rem;
  background: var(--third-color);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: 0.3s linear;
  letter-spacing: 0.1rem;
}

/*Hover effekt for share knapp*/
.share-button:hover{
  transform: scale(1.2);
}

/*Effekt på share knappen*/
.share-button span{
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--secondary-color);
  color: var(--primary-color);
  text-align: center;
  line-height: 80px;
  z-index: 999;
  transition: 0.6s linear;
  border-radius: 40px;
}

.share-button:hover span{
  transform: translateX(-100%);
  transition-delay: 0.3s;
}

.share-button a{
  flex: 1;
  font-size: 1.4rem;
  color: var(--icon-color);
  text-align: center;
  transform: translateX(-100%);
  transition: 0.3s linear;
}

.share-button:hover a{
  transform: translateX(0);
}

/*de ulike ikonene kommer inn ulikt tempo*/
.share-button a :nth-of-type(1){
  transition-delay: 1s;
}
.share-button a :nth-of-type(2){
  transition-delay: 0.8s;
}
.share-button a :nth-of-type(3){
  transition-delay: 0.6s;
}
.share-button a :nth-of-type(4){
  transition-delay: 0.4s;
}

#moon-icon{
  font-size: 2rem;
  cursor: pointer;
}

/*Her blir fargene lagret*/
:root{
  --main-bg-color: #F7F9F7;
  --primary-color: #F7F9F7;
  --secondary-color: #750D37;
  --kontakt-color: #750D37;
  --third-color: #210124;
  --icon-color: #F7F9F7;
  --text-color: #000000;
  --footer-color: #210124;

  /*Hentet fra unsplash, attributt ikke nødvendig*/
  /*https://unsplash.com/photos/7FqOISWr5V0*/
  --bakgrunn-top: url(img/header-pic.jpg);
  
  /*Hentet fra unsplash, attributt ikke nødvendig*/
  /*https://unsplash.com/photos/GFqo8rVmH30*/
  --bakgrunn-main: url(img/main-pic.jpg);
}

.dark-theme{
  --main-bg-color: #363636;
  --primary-color: #000000;
  --secondary-color: rgb(255, 251, 0);
  --kontakt-color: #000000;
  --third-color: #000000;
  --icon-color:#fff;
  --text-color: #fff;
  --footer-color: #000000;

  /*Hentet fra unsplash, attributt ikke nødvendig*/
  /*https://unsplash.com/photos/KtQc6no1B4k*/
  --bakgrunn-top: url(img/header-2.jpg);

  /*Hentet fra unsplash, attributt ikke nødvendig*/
  /*https://unsplash.com/photos/0Zs62-dTmLI*/
  --bakgrunn-main: url(img/main-article-2.jpg);
}

/*Styling til mobil, dette skjer ikke med mindre nettsiden blir mindre enn 850px bred*/
@media only screen and (max-width: 850px){
  /*Grid områdene for mobil versjon*/
  #grid-area{
    display: grid;
    grid-area: 
    "nav"
    "header"
    "intro"
    "main"
    "footer";
    grid-template-columns: 1fr;
  }

  /*Nav bar sitt grid området*/
  nav{
    grid-area: nav;
  }

  /*Hamburgermeny blir laget*/
  .hamburger{
    grid-area: nav;
    display: block;
    margin: 1rem;
    cursor: pointer; /*Lettere å se på desktop*/
    position: relative;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar-links{
    position: fixed;
    left: -900px;
    top: 60px;
    flex-direction: column;
    background-color: var(--secondary-color);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    margin-top: 0;
  }

  .nav-item{
    margin: 0.3rem 0;
  }
  
  .anim{
    margin-top: 20rem;
  }

  .navbar-links.active{
    left: 0;
    margin-top: 0;
  }

  .navbar{
    padding: 0;
    position: fixed;
    background-color: var(--secondary-color);
    opacity: 0.94;
  }

  /*Logo styling til mobil*/
  #logo{
    top: 1rem;
    left: 1rem;
  }

  .fa-moon::before{
    margin: 0;
  }

  .row{
    flex-direction: column;
  }

  .col{
    margin-bottom: 4rem;
  }

  .row .col{
    margin: none;
    padding: 0;
  }

  .col img{
    max-width: 100%;
    display: flex;
    align-content: center;
  }

  .main-artikel{
    width: 100%;
  }

  .artikel-tekst p{
    margin-bottom: 2rem;
  }

  .cms-tabell{
    display: block;
    font-size: 1.2rem;
    overflow: scroll;
  }
  .uu-seo-tabell{
    display: block;
    font-size: 1.2rem;
    overflow: scroll;
  }
  .analyse-tabell{
    display: block;
    font-size: 1.2rem;
    overflow: scroll;
  }

  .tabell-styling{
    text-align: left;
  }

  body {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .introtekst{
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;
    text-align: left;
  }

  footer{
    font-size: 1.5rem;
  }

  .footer-text p{
    margin: 0;
    margin-bottom: 1rem;
  }

  p{
    margin-left: 1.2rem;
    margin-right: 1.2rem;
  }

  .artikkel-tekst{
    margin-left: 1rem;
    margin-right: 1rem;
    line-height: 2.2rem;
  }

  section ol{
    padding: 0;
    margin: 1rem auto;
  }
  li{
    text-align: center;
  }

  .kontaktoss-side{
    height: 36vh;
    margin-bottom: 4rem;
  }

  .info{
    margin-bottom: 1.2rem;
  }

  .kontakt{
    width: 90%;
    grid-template-columns: 1fr;
  }

  .kontakt-skjema{
    margin-right: 2rem;
  }

}

/*Styling til for større skjermer*/
@media only screen and (min-width: 1700px){

  html{
    overflow-x: hidden;
  }

  #grid-area{
    display: grid;
    grid-area: 
    "nav nav nav"
    "header header header"
    "intro intro intro"
    "main main main main"
    "footer footer footer";
    grid-template-columns: 1fr 2fr 1fr;
  }

  nav{
    grid-area: nav;
  }

  .navbar{
    display: flex;
    justify-content: center;
  }

  header{
    grid-area: header;
  }

  main{
    grid-area: main;
  }

  .main-flex{
    display: flex;
    justify-content: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .artikel-tekst{
    margin-left: 12%;
  }

  footer{
    grid-area: footer;
  }

}