/*Normalize*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto:wght@400;500;700&display=swap');

/*Font familie Josefin Sans, hentet fra google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto:wght@400;500;700&display=swap');

/*I alle body elementene skal denne fonten brukes til all tekst*/
body{
  font-family: 'Josefin Sans', sans-serif;
}

/*Lager grid området til alle elementene mine*/
#front-page-grid{
  display: grid;
  grid-template-areas: 
  "nav nav nav"
  "header header header"
  "intro intro intro"
  "main main main"
  "footer footer footer";
  grid-template-columns: 1fr 3fr 1fr;
}

/*Nav generell styling*/
nav{
  grid-area: nav;
}

/*Setter alle lister til å ikke ha prikkene ved siden av seg*/
ul{
  list-style: none;
}

body, html{
  overflow-x: hidden;
}

/*Logo styling*/
#logo{
  grid-area: nav;
  width: 80px;
  height: auto;
}

/*Styling av selve nav baren*/
.navbar{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 1rem;
  align-items: center;
}

/*Styling av ul elementet*/
ul.navbar-links{
  display: flex;
  align-items: center;
}

/*Legger til hover effekt for navbar sine li elementer*/
.navbar ul li:hover{
  opacity: 0.5;
}
/*Styling av li elementene*/
.navbar-links li{
  margin-right: 3rem;
  padding-right: 2rem;
}

/*Selve menypunktenes styling*/
nav a{
  color: whitesmoke;
  text-decoration: none;
  display: flex;
}

/*Bestemmer header høyde, bredde og bakgrunnsbilde*/
header{
  grid-area: header;
  width: 100%;
  height: 100vh;
  background-image: url('img/header.jpg');
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Styler selve teksten i header*/
.header-content{
  margin-bottom: 10rem;
  color: whitesmoke;
  text-align: center;
}

/*Kontakt oss knappen blir stylet*/
.kontakt-oss{
  padding: 8px 15px;
  background-color: #cdb4db;
  border-radius: 30px;
  color: whitesmoke;
  text-decoration: none;
}

/*Intro seksjonen blir stylet*/
#intro-section{
  grid-area: intro;
  width: 80%;
  margin: 80px auto;
}

/*Teksten til artikkel-seksjonen blir stylet*/
.intro-title{
  text-align: center;
  font-size: 1.2rem;
  color: #69c6e2;
}

/*Styling av linjen under "Artikkler"
Source: https://www.w3schools.com/tags/tag_hr.asp*/
.line{
  width: 8rem;
  height: 0.4rem;
  background: #cdb4db;
  margin: 2px auto;
  border-radius: 10rem;
}

/*Bildet til linkene styling*/
.placeholder{
  border-radius: 2rem;
}
.placeholder-3{
  width: 20rem;
  border-radius: 2rem;
}

/*Main blir stylet*/
main{
  grid-area: main;
  width: 100%;
  margin: auto;
}

/*Radene blir til flex*/
.row{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  
}

/*Selve artikkelboksene blir stylet*/
.row .col{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.artikler .row{
  margin-top: 2rem;
}

/*Hoved artikkelen blir stylet*/
.main-artikel{
  width: 100%;
  height: 60vh;
  padding-left: 6rem;
  /*Fra unsplash, attribute er ikke nødvendig (https://unsplash.com/photos/vmTs5om50gg)*/
  background-image: url('img/placeholder-2.jpg'); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

/*Selve teksten i hoved artikkel blir stlyet*/
.artikel-tekst{
  width: 50%;
  color: whitesmoke;
}

.artikel-tekst h3{
  font-size: 5rem;
  margin-bottom: 1rem;
}

/*bildene i artikkelkortene blir stylet*/
.placeholder{
  width: 300px;
}

/*Seksjonen blir stylet*/
.main-flex{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*Artikklene blir stylet*/
main article{
  background-color: #fff;
  padding: 2rem;
  flex: 1;
}

/*Footer styling*/
footer{
  grid-area: footer;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 6rem;
  background-color: rgb(80, 80, 80);
  color: #fff;
}

/*Bilde animasjoner*/
.placeholder{
  transition: transform .3s ease;
}

.placeholder:hover{
  transform: scale(1.05);
  cursor: pointer;
}

.placeholder-3{
  transition: transform .3s ease;
}

.placeholder-3:hover{
  transform: scale(1.05);
  cursor: pointer;
}

/*Knappe animasjoner*/
.kontakt-oss:hover{
  opacity: 0.6;
}

/*Meny animasjoner*/
.nav-item:hover{
  color: #cdb4db;
}

/*Animasjon for "smooth-in & smooth-out"*/
.artikler{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/*Animasjon for hoved informasjon*/
.anim{
  animation: slideleft 1s linear forwards;
}
@keyframes slideleft{
  0%{
    transform: translate(100px);
    opacity: 0;
  }
  1000%{
    transform: translate(0px);
    opacity: 1;
  }
}

.hamburger{
  display: none;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: whitesmoke;
}

/*UU artikkel*/
.uuvsseo{
  grid-area: "main";
  font-size: 1.4rem;
  line-height: 2.5rem;
}

/*Intro teksten som står øverst*/
.introtekst{
  font-size: 1.5rem;
  line-height: 2rem;
}

/*Selve artikkelen sin styling*/
.container {
  width: 400px;
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Swiper boksen blir laget*/
.swiper{
  width: 80%;
  height: fit-content;
}

.swiper-slide img{
  width: 300px;
}

/*Tabellen til UU vs SEO*/
.tabell{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabell-farge{
  color: #ffffff;
  background-color: rgb(143, 146, 148);
}

/*stlying på klassene*/
.tabell-styling{
  background-color: #ffffff;
  border: 2px solid #000000;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 1rem 1rem;
}

/*Styling på tabellen generelt*/
.table{
  display: grid;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  min-height: 900px;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

/*UU start*/
/*Alle cellene som er på rad 1*/
#cell-1{
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column: 1;
  grid-column-end: 1;
  background-color: slategray;
}

#cell-2{
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column: 2;
  grid-column-end: 2;
  background-color: slategray;
}

#cell-3{
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column: 3;
  grid-column-end: 3;
  background-color: slategray;
}
/*Slutt på celler på rad 1*/

/*Rad 1*/
#cell-4{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column: 1;
  grid-column-end: 1;
}

#cell-5{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column: 2;
  grid-column-end: 2;
}

#cell-6{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column: 3;
  grid-column-end: 3;
}

/*Rad 2*/
#cell-7{
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column: 1;
  grid-column-end: 1;
}

#cell-8{
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column: 2;
  grid-column-end: 2;
}

#cell-9{
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column: 3;
  grid-column-end: 3;
}

/*Rad 3*/
#cell-10{
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column: 1;
  grid-column-end: 1;
}

#cell-11{
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column: 2;
  grid-column-end: 2;
}

#cell-12{
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column: 3;
  grid-column-end: 3;
}

/*Rad 4*/
#cell-13{
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column: 1;
  grid-column-end: 1;
}

#cell-14{
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 2;
}

#cell-15{
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 3;
  grid-column-end: 3;
}

/*Rad 5*/
#cell-16{
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 1;
}

#cell-17{
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 2;
  grid-column-end: 2;
}

#cell-18{
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 3;
  grid-column-end: 3;
}

/*Rad 6*/
#cell-19{
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 1;
  grid-column-end:1;
}

#cell-20{
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 2;
  grid-column-end: 2;
}

#cell-21{
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 3;
  grid-column-end: 3;
}

/*SEO*/
#cell-22{
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column: 1;
  grid-column-end: 1;
  background-color: slategray;
}

#cell-23{
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column: 2;
  grid-column-end: 2;
  background-color: slategray;
}

#cell-24{
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column: 3;
  grid-column-end: 3;
  background-color: slategray;
}

#cell-25{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column: 1;
  grid-column-end: 1;
}

#cell-26{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column: 2;
  grid-column-end: 2;
}

#cell-27{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column: 3;
  grid-column-end: 3;
}

#cell-28{
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column: 1;
  grid-column-end: 1;
}

#cell-29{
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column: 2;
  grid-column-end: 2;
}

#cell-30{
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column: 3;
  grid-column-end: 3;
}

#cell-31{
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column: 1;
  grid-column-end: 1;
}

#cell-32{
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column: 2;
  grid-column-end: 2;
}

#cell-33{
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column: 3;
  grid-column-end: 3;
}

#cell-34{
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column: 1;
  grid-column-end: 1;
}

#cell-35{
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 2;
}

#cell-36{
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 3;
  grid-column-end: 3;
}

#cell-37{
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 1;
}

#cell-38{
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 2;
  grid-column-end: 2;
}

#cell-39{
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 3;
  grid-column-end: 3;
}

#cell-40{
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 1;
  grid-column-end:1;
}

#cell-41{
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 2;
  grid-column-end: 2;
}

#cell-42{
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 3;
  grid-column-end: 3;
}

/*Styling til mobil, dette skjer ikke med mindre nettsiden blir mindre enn 850px bred*/
@media only screen and (max-width: 850px){
  /*Grid områdene for mobil versjon*/
  #front-page-grid{
    display: grid;
    grid-area: 
    "nav"
    "header"
    "intro"
    "main"
    "footer";
    grid-template-columns: 1fr;
  }

  /*Nav bar sitt grid området*/
  nav{
    grid-area: nav;
  }

  /*Hamburgermeny blir laget*/
  .hamburger{
    display: block;
    margin: 1rem;
    cursor: pointer; /*Lettere å se på desktop*/
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar-links{
    position: fixed;
    left: -1000px;
    top: 70px;
    flex-direction: column;
    background-color: #cdb4db;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item{
    margin: 16px 0;
  }

  .navbar-links.active{
    left: 0;
  }

  .navbar{
    padding: 0;
  }

  /*Logo styling til mobil*/
  #logo{
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  .row{
    flex-direction: column;
  }

  .row .col{
    margin: 2rem auto;
  }

  .col img{
    max-width: 90%;
  }

  .main-artikel{
    width: 100%;
  }

  .table{
    display: block;
  }

  body {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}