/*Normalize*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto:wght@400;500;700&display=swap');

/*Font familie Josefin Sans, hentet fra google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto:wght@400;500;700&display=swap');

body, html{
  overflow-x: hidden;
}

/*På body elementet skal disse styling elementene bli tatt i bnruk*/
body{
  font-family: 'Josefin Sans', sans-serif;
  line-height: auto;
}

/*Genrell styling på elementer*/
h1{
  font-size: 3rem;
}

h2{
  font-size: 2.2rem;
}

h3{
  font-size: 1.8rem;
  text-align: center;
}

article{
  text-align: center;
}

p{
  font-size: 1.4rem;
}

nav{
  grid-area: nav;
  font-size: 1.2rem;
}

li{
  text-align: center;
  line-height: 2rem;
  font-size: 1.2rem;
}

/*Lager grid området*/
#grid-area{
  display: grid;
  grid-template-areas: 
  "nav nav nav"
  "header header header"
  "intro intro intro"
  "main main main"
  "footer footer footer";
  grid-template-columns: 1fr 3fr 1fr;
}

/*Header styling*/
header{
  grid-area: header;
  width: 100%;
  height: 100vh;
  background-image: url('img/header.jpg');
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Fjerner prikker/tall ved siden av liste-elementer*/
ul{
  list-style: none;
}
ol{
  list-style: none;
}

/*Logo styling*/
#logo{
  grid-area: nav;
  width: 80px;
  height: auto;
}

/*Styling av selve nav baren*/
.navbar{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 1rem;
  align-items: center;
}

/*Styling av nav bar*/
ul.navbar-links{
  display: flex;
  align-items: center;
}

/*Legger til hover effekt for navbar sine li elementer*/
.navbar ul li:hover{
  opacity: 0.5;
}

/*Styling av li elementene*/
.navbar-links li{
  margin-right: 3rem;
  padding-right: 2rem;
}

/*Selve menypunktenes styling*/
nav a{
  color: whitesmoke;
  text-decoration: none;
  display: flex;
}

/*Styler selve teksten i header*/
.header-content{
  margin-bottom: 10rem;
  color: whitesmoke;
  text-align: center;
}

/*Kontakt oss knappen blir stylet*/
.kontakt-oss{
  padding: 8px 15px;
  background-color: #cdb4db;
  border-radius: 30px;
  color: whitesmoke;
  text-decoration: none;
}

/*Intro seksjonen blir stylet*/
#intro-section{
  grid-area: intro;
  width: 80%;
  margin: 80px auto;
}

/*Teksten til artikkel-seksjonen blir stylet*/
.intro-title{
  text-align: center;
  color: #69c6e2;
}

/*Styling av linjen under "Artikkler"
Source: https://www.w3schools.com/tags/tag_hr.asp*/
.line{
  width: 8rem;
  height: 0.4rem;
  background: #cdb4db;
  margin: 2px auto;
  border-radius: 10rem;
}

/*Bildet til linkene styling*/
.placeholder{
  border-radius: 2rem;
}
.placeholder-3{
  width: 20rem;
  border-radius: 2rem;
}

/*Main blir stylet*/
main{
  grid-area: main;
  width: 100%;
  margin: auto;
}

/*Radene blir til flex*/
.row{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  
}

/*Selve artikkelboksene blir stylet*/
.row .col{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.artikler .row{
  margin-top: 2rem;
}

/*Hoved artikkelen blir stylet*/
.main-artikel{
  width: 100%;
  height: 60vh;
  padding-left: 6rem;
  /*Fra unsplash, attribute er ikke nødvendig (https://unsplash.com/photos/vmTs5om50gg)*/
  background-image: url('img/placeholder-2.jpg'); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

/*Selve teksten i hoved artikkel blir stlyet*/
.artikel-tekst{
  width: 50%;
  color: whitesmoke;
}

.artikel-tekst h3{
  margin-bottom: 1rem;
}

/*bildene i artikkelkortene blir stylet*/
.placeholder{
  width: 300px;
}

/*Seksjonen blir stylet*/
.main-flex{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*Artikklene blir stylet*/
main article{
  background-color: #fff;
  padding: 2rem;
  flex: 1;
}

/*Footer styling*/
footer{
  grid-area: footer;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 6rem;
  background-color: rgb(80, 80, 80);
  color: #fff;
}

footer a{
  color: #000000;
  font-size: 1.4rem;
}

/*Bilde animasjoner*/
.placeholder{
  transition: transform .3s ease;
}

.placeholder:hover{
  transform: scale(1.05);
  cursor: pointer;
}

.placeholder-3{
  transition: transform .3s ease;
}

.placeholder-3:hover{
  transform: scale(1.05);
  cursor: pointer;
}

/*Knappe animasjoner*/
.kontakt-oss:hover{
  opacity: 0.6;
}

/*Meny animasjoner*/
.nav-item:hover{
  color: #cdb4db;
}

/*Animasjon for "smooth-in & smooth-out"*/
.artikler{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.artikler p{
  max-width: 60%;
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/*Animasjon for hoved informasjon*/
.anim{
  animation: slideleft 1s linear forwards;
}
@keyframes slideleft{
  0%{
    transform: translate(100px);
    opacity: 0;
  }
  1000%{
    transform: translate(0px);
    opacity: 1;
  }
}

.hamburger{
  display: none;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: whitesmoke;
}

/*Intro teksten som står øverst*/
.introtekst{
  line-height: 2rem;
  max-width: 70%;
}

/*Selve artikkelen sin styling*/
.container {
  width: 400px;
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Swiper boksen blir laget*/
.swiper{
  width: 80%;
  height: fit-content;
}

.swiper-slide img{
  width: 300px;
}

/*Styling på artikkel tekstene*/
.artikkel-tekst{
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  line-height: 2.2rem;
}

/*Litteraturlisten blir stylet*/
.lit-liste{
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  line-height: 3rem;
}

.lit-liste li{
  line-height: 3rem;
}

/*Styling på "skrevet av Markus Vullum"*/
.skrevet-av{
  color: #fff;
  font-size: 1.2rem;
  opacity: 0.7;
}
/*UU vs SEO tabell*/
.uu-seo-tabell{
  display: grid;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  margin-top: 5rem;
  margin-bottom: 10rem;
  height: 90vh;
}

/*CMS tabell*/
.cms-tabell{
  display: grid;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-top: 5rem;
  margin-bottom: 10rem;
  height: 90vh;
}

/*Tabell styling generelt*/
.tabell-topp{
  background-color: rgb(165, 165, 165);
}

.tabell-styling{
  display: flex;
  text-align: center;
  align-items: center;
  padding: 1rem 1rem;
  font-size: 1.4rem;
  line-height: 1.6rem;
  border: 2px solid #000000;
}

.zebra{
  background-color: rgb(201, 201, 201);
}

.contact-container{
  max-width: 1080px;
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  background: #cdb4db;
  border-radius: 0.5rem;
}

.form-container{
  padding: 2rem;
}

.form-container h3{
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.contact-form{
  display: grid;
  row-gap: 1rem;
}

.contact-form input, textarea{
  width: 100%;
  border: none;
  outline: none;
  background: #2c2f48;
  padding: 1rem;
  font-size: 1rem;
  color: #fff;
  border-radius: 0.4rem;
}

.contact-form textarea{
  resize: none;
  height: 200px;
}

.map iframe{
  width: 100%;
  height: 50vh;
}

.share-button{
  width: 280px;
  height: 80px;
  background: #2c2f48;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: 0.3s linear;
}

.share-button:hover{
  transform: scale(1.2);
}

.share-button span{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #cdb4db;
  color: #fff;
  text-align: center;
  line-height: 80px;
  z-index: 999;
  transition: 0.6s linear;
  border-radius: 40px;
}

.share-button:hover span{
  transform: translateX(-100%);
  transition-delay: 0.3s;
}

.share-button a{
  flex: 1;
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  transform: translateX(-100%);
  transition: 0.3s linear;
}

.share-button:hover a{
  transform: translateX(0);
}

.share-button a :nth-of-type(1){
  transition-delay: 1s;
}
.share-button a :nth-of-type(2){
  transition-delay: 0.8s;
}
.share-button a :nth-of-type(3){
  transition-delay: 0.6s;
}
.share-button a :nth-of-type(4){
  transition-delay: 0.4s;
}

/*Styling til mobil, dette skjer ikke med mindre nettsiden blir mindre enn 850px bred*/
@media only screen and (max-width: 850px){
  /*Grid områdene for mobil versjon*/
  #grid-area{
    display: grid;
    grid-area: 
    "nav"
    "header"
    "intro"
    "main"
    "footer";
    grid-template-columns: 1fr;
  }

  /*Nav bar sitt grid området*/
  nav{
    grid-area: nav;
  }

  /*Hamburgermeny blir laget*/
  .hamburger{
    grid-area: nav;
    display: block;
    margin: 1rem;
    cursor: pointer; /*Lettere å se på desktop*/
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar-links{
    position: fixed;
    left: -1000px;
    top: 70px;
    flex-direction: column;
    background-color: #cdb4db;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item{
    margin: 0.3rem 0;
  }
  
  .anim{
    margin-top: 20rem;
  }

  .navbar-links.active{
    left: 0;
  }

  .navbar{
    padding: 0;
  }

  /*Logo styling til mobil*/
  #logo{
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  .row{
    flex-direction: column;
  }

  .row .col{
    margin: none;
    padding: 0;
  }

  .col img{
    max-width: 90%;
  }

  .main-artikel{
    width: 100%;
  }

  .cms-tabell{
    display: block;
    font-size: 1.2rem;
    overflow: scroll;
  }
  .uu-seo-tabell{
    display: block;
    font-size: 1.2rem;
    overflow: scroll;
  }

  .tabell-styling{
    text-align: left;
  }

  body {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .introtekst{
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;
    text-align: left;
  }

  footer{
    font-size: 1.5rem;
  }

  p{
    margin-left: 1.2rem;
    margin-right: 1.2rem;
  }
  .artikkel-tekst{
    margin-left: 1rem;
    margin-right: 1rem;
    line-height: 2.2rem;
  }
  section ol{
    padding: 0;
    margin: 1rem auto;
  }
  li{
    text-align: center;
  }
}