@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto:wght@400;500;700&display=swap');

body{
  font-family: 'Josefin Sans', sans-serif;
}

#css-grid{
  display: grid;
  grid-template-areas: 
  "header header header"
  "section section section"
  "main main main"
  "footer footer footer";

  grid-template-columns: 1fr 3fr 1fr;
}

#logo{
  width: 80px;
  height: auto;
}

header{
  grid-area: header;
  width: 100%;
}

.header-img{
  background-image: url("img/header.jpg"); /*Bilde fra unsplas, attribute ikke nødvendig (https://unsplash.com/photos/j3c6FN11CkA)*/
}

header nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

header nav li{
  display: inline-block;
  margin-right: 1rem;
}

section {
  grid-area: section;
  width: 100%;
  margin-bottom: 2rem;
  text-align: center;
  background-color: #efefef;
  padding-bottom: 20px;
}

section p{
  text-align: center;
}

.placeholder{
  width: 300px;
}

.main-flex{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}

main{
  grid-area: main;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  background-color: #efefef;
  padding: 2rem;
}

main article{
  background-color: #fff;
  padding: 2rem;
  flex: 1;
}

footer{
  grid-area: footer;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 6rem;
  background-color: rgb(80, 80, 80);
  color: #fff;
}

button:hover{
  cursor: pointer;
  opacity: 0.8;
}

button:active{
  opacity: 0.4;
}

button{
  padding: 16px 20px;
  border-radius: 20px;
  border-style: solid;
  border: none;
  background-color: #fff;
  color:black;
  font-weight: bold;
}

/*
@media and (max-width: 900px){
  #css-grid{
    display: grid;
    grid-template-areas: 
    "header"
    "section"
    "main"
    "footer";
    grid-template-columns: 1fr;
  }
}

*/